<ion-grid>

  <ion-row>
    <ion-item>
      <ion-label expand="block" position="floating">Nome</ion-label>
      <ion-input name="nome" ngDefaultControl [(ngModel)]=nome></ion-input>
    </ion-item>
    <ion-item>
      <ion-label expand="block" position="floating">País</ion-label>
      <ion-input name="pais" ngDefaultControl [(ngModel)]=pais></ion-input>
    </ion-item>
    <ion-col>
      <ion-button expand="block" (click)="Pesquisar()">Pesquisar</ion-button>
    </ion-col>
  </ion-row>
  <ion-item>{{uni[0].alpha_two_code}}</ion-item>
  <ion-item>{{uni[0].country}}</ion-item>
  <ion-item>{{uni[0].name}}</ion-item>
  <ion-item>{{uni[0].state-province}}</ion-item>
  <ion-item *ngFor="let p of uni[0].domains">
    <ion-label>
        <p>{{p}}</p>
    </ion-label>
</ion-item>
<ion-item *ngFor="let p of uni[0].web_pages">
  <ion-label>
      <p>{{p}}</p>
  </ion-label>
</ion-item>
</ion-grid>

<ion-label>